@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html {
  font-size: 16px;
}

body {
  background-color: #f8ecdd;
  padding: 20px 20px 100px;
}

@media screen and (max-width: 1000px) {
  body {
    padding: 5px 5px 100px;
    background-color: #002ba0;
  }
}
